# ==========================================
# Identifiants secrets & Fichiers sensibles
# ==========================================
.env
*.env
.env.*

# ==========================================
# Environnement Virtuel Python
# ==========================================
venv/
env/
ENV/
.venv/

# ==========================================
# Cache Python & Fichiers compilés
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================================
# Fichiers d'Éditeurs & IDE (VS Code, PyCharm)
# ==========================================
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# ==========================================
# Journaux et bases de données locales
# ==========================================
*.log
*.sqlite3
*.db